.error {
    display: none;
    border-color: red;
    color: red;
}

.form-army {
    display: none;
}

.form-combat-arms {
    display: none;
}

.form-cigarette {
    display: none;
}

.form-brand-cigarette {
    display: none;
}